/* CSS index/home */
* { margin:0; padding: 0; }
footer { background-color: #0B0B61; min-height: 180px; color:#999; padding:10px; }
header { background-color: #000; }
nav { min-height: 90px; margin-bottom: 0 !important; background-color: #0B0B61;}

#main { padding: 30px; background-color: #FFF96B;  }
#main img  { max-height: 400px; background-color: #FFF96B; }
#middle { margin: 0px 0; background-color: #FFF96B; }
#logo { margin:20px 0; }
#menu_lista{margin-left: 500px;}

.lista_footer { margin-top:35px; margin-left: 15px; }
.lista_footer a {color: #FFF96B; }
.link_menu { margin-top:20px; font-size: 20px;}
.link_menu a{ color:#FFF96B !important; margin-top: 30px; }
.link_menu a:hover{ background-color:#FFF96B !important; color:#111 !important; }

.carousel-caption{color: black; background-color: rgba(192,192,192,0.6);}
.thumbnail{background-color: #FFF96B;}

/*------------------------------------------------------------------------------------------------------*/
/* CSS cadastro */
#principal{ padding: 20px 0 160px 0; background-color: #FFF96B;}

#cadastrocli{margin-top: 60px; margin-left: 50px; background-color: #fff}
#cadastrofor{margin-top: 60px; background-color: #fff}

#lblsenha{margin-right: 0px; }
#lblcsenha{margin-left: 0px }
#login{width: 7%; margin-left: 7px;}

#uf{width: 25px;}
#num{width: 50px;}
#confsenha{}
#cadastrar{margin-bottom: 10px; margin-left: 60px;}

.lblcli{margin: 10px;}
.lblfor{margin-left: 20px;}